# For Client
# dependencies
clientside/node_modules
clientside/.pnp
clientside/.pnp.js

# testing
clientside/coverage

# production
clientside/build

# misc
clientside/.DS_Store
clientside/.env.local
clientside/.env.development.local
clientside/.env.test.local
clientside/.env.production.local

clientside/npm-debug.log*
clientside/yarn-debug.log*
clientside/yarn-error.log*


# For Server
/server/node_modules